<div class="container">
  <div class="row">
    <div class="col-3">
      <h4 class="text-center bg-light">ショッピングカート</h4>
    </div>
    <div class="box col-7"></div>
    <div class="col-2">
      <%= link_to "カートを空にする", crt_items_destroy_all_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
  <table class="table table-inverse table-bordered">
    <thead>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
      <tr>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.subtotal %></td>
          <% @合計金額 +=  cart_item.subtotal %>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
